.primary-btn {
  width: 200px;
  height: 70px;
  border-style: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  font-size: 1.3rem;
  padding: 0.3rem;
  color: var(--white-color);
  background-color: var(--black-color);
}
.primary-btn span {
  position: absolute;
  display: block;
}
.primary-btn span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(
    to right,
    var(--black-color),
    var(--accent-color)
  );
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
.primary-btn span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(
    to bottom,
    var(--black-color),
    var(--accent-color)
  );
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
.primary-btn span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, var(--black-color), var(--accent-color));
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.primary-btn span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, var(--black-color), var(--accent-color));
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.primary-btn:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.primary-btn:hover span {
  animation-play-state: paused;
}
