.navbar {
  background-color: var(--black-color);
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
.navbar li a {
  color: var(--white-color);
}
.navbar li a:hover {
  color: var(--accent-color);
}
